<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Michał Musialik",
        "url": "https://michalmusialik.com",
        "jobTitle": "Senior Web Developer",
        "sameAs": [
          "https://github.com/musialik",
          "https://pl.linkedin.com/in/michal-musialik"
        ]
      }
    </script>
  </head>

  <body>
    {{ content }}
  </body>
</html>
